@import url('colors.css');

.dropdown{
    position: relative;
    display: block;
    cursor: pointer;
    float: right;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 160px;
    max-height: 400px;
    overflow-y: auto;
    /* overflow: auto; */
    z-index: 1000;
    top: 50px;
    /* float: left; */
}

.dropdown:hover .dropdown-content{
    display: block;
}