@import url('toolbar.css');

nav{
    float: right;
    height: auto;
    overflow: hidden;
    width: 100%;
}

nav a{
    color: var(--color);
    float: right;
    padding: 14px 16px;
    text-decoration: none;
    /* top: 0; */
}

#navbar{
    /* background: var(--primary); */
    display: flex;
    float: left;
    justify-content: space-between;
    /* height: auto; */
    /* left: 0; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 500;
}

#navbar-title a{
    color: var(--color);
    text-decoration: none;
}

/*.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */  