.profile-picture-large{
    width: 100%;
    height: 100%;
}

/* Clicking effect for the image */
.profile-picture-large:hover{
    opacity: 90%;
}

.profile-picture-large:active{
    opacity: 50%;
}

.profile-picture-table-item{
    margin: 4px;
}

/* Clicking effect for table cell  */
.profile-picture-table-item:hover{
    background-color: white;
}

.profile-picture-table-item:active{
    background-color: black;
}