@import url('theme.css');
@import url('colors.css');
@import url('dropdown.css');
@import url('form.css');
@import url('nav.css');

a, h1, h2, h3, h4, h5, h6, label, p{
    font-family: Arial, Helvetica, sans-serif;
}

.parent::after {
    /* background-color: rgba(230, 240, 255, 0.50); */
    background-color: var(--primary);
    opacity: 0.80;
}
  
.child::after {
    /* background-color: rgba(230, 240, 255, 0.30); */
    background-color: var(--primary);
    opacity: 0.80;
}
  
.shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 1px 8px rgba(0, 0, 0, 0.4);
}

/*body{
    width: 95%;
    height: auto;
    margin: 2.5%;
}*/

body{
    background-color: var(--background);
    color: var(--color);
    margin: 16px;
}

#content{
    padding-top: 48px;
}

.description{
    visibility: hidden;
}

footer{
    padding: 50px;
}

header{
    margin-top: -16px;
    margin-bottom: -40px;
    vertical-align: middle;
}

#sample-content{
    padding: 25%;
}

section, header, nav, article, aside, footer{
    display: block;
}

section{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
}



.shadow {
    border-radius: 1px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
}
