@import url('picture.css');

.alt-text{
    position: relative;
}

.dynamic-table{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid gray;
    padding: 4px;
}

.dynamic-table-cell{
    flex: 1 1 calc(15% - 8px);
    width: 20%;
    height: auto;
    /* border: 2px solid gray; */
}