<span class="acrylic shadow parent" id="toolbar">
    <header>
        <h1><a href="index.html">WebLog</a></h1>
    </header>
    <nav>
        <div id="site-search">
            <input type="search" id="site-search-bar">
            <input type="submit" id="site-search-submit">
        </div>
        <ul>
            <a href="#">Create</a>
            <a href="index.html">Home</a>
            <a href="#">Blogs</a>
            <a href="#">News</a>
            <a href="#">About</a>
        </ul>
    </nav>
</span>