:root{
    --footer-color: #f3f3f3;
    /*--primary: #1e88e5;
    --primary2: #0d47a1;
    --primary3: #64b5f6;*/
    --primary: rgba(0, 0, 0, 0.5);
    --primary2: rgba(255, 255, 255, 0.5);
    --primary3: rgba(150, 150, 150, 0.5);
    --static: rgba(75, 75, 75, 0.5);
}

a, h1, h2, h3, h4, h5, h6, p{
    font-family: Arial, Helvetica, sans-serif;
}

.acrylic {
    /*padding: 4em 6em;
    position: relative;*/
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin: 7px;
}

body{
    background-image: url("../pages/mountain.jpg");
    width: 95%;
    height: auto;
    margin: 2.5%;
}

footer{
    padding: 50px;
}

header{
    margin-top: -16px;
    margin-bottom: -40px;
    vertical-align: middle;
}

input[type=search], input[type=text], input[type=submit]{
    background: var(--staticDark);
    border-style: none;
}

input[type=search]:hover, input[type=text]:hover, input[type=submit]:hover{
    background: var(--primary3);
    border-style: none;
}
input[type=submit]:active{
    background: var(--primary2);
    border-style: none;
}

nav{
    float: right;
    height: auto;
    overflow: hidden;
    width: 100%;
}

nav a{
    color: white;
    float: right;
    padding: 14px 16px;
    text-decoration: none;
    top: 0;
}
nav a:visited{
    background-color: var(--primary);
}
nav a:hover{
    color: black;
    background-color: var(--primary3);
}
nav a:active{
    background-color: var(--primary2);
}

#sample-content{
    padding: 25%;
}

section, header, nav, article, aside, footer{
    display: block;
}

#site-search{
    display: flex;
    float: left;
    height: auto;
    width: 40%;
    justify-content: space-between;
}

#site-search-bar{
    background-color: white;
    height: auto;
    padding: 14px;
    width: 75%;
}

#site-search-submit{
    background-color: white;
    height: auto;
    padding: 14px 8px;
    width: 25%;
}

.shadow {
    border-radius: 1px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
}

#toolbar{
    background: var(--primary);
    display: flex;
    float: left;
    justify-content: space-between;
    height: auto;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 500;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}